.code(@hex) {
//  border-left:none;
//  border-top:1px solid @hex;
//  border-right:1px solid @hex;
//  border-bottom:1px solid @hex;
  background-color: @hex;
  color:darken(@hex, 60%);
}

.content(@hex) {
  background-color: #dce8dd;
}

body {
  margin:0;
  font-size:48pt;
  font-family:Helvetica, "Helvetica Neue", Arial, sans-serif;
  color: #fafafa;
  background-color: #ebf9ee;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering:optimizeLegibility;
}

#outer {
  #title {
    width:100%;
    display:block;
    background-color:#628e18;
    min-height:150px;
    border-bottom:solid 15px #e9f7ec;

    #left {
      width:60%;
      margin:0;
      float:left;
      padding:15px 30px;
      box-sizing:border-box;
      border-right:solid 15px #e9f7ec;
      min-height:150px;

      .title {
        float:left;
        text-transform: uppercase;
        display:block;
        font-size: 68pt;
        font-weight:800;
        line-height:92px;
      }

      .note {
        float:left;
        font-size:24pt;
        margin-top:50px;
      }

      .explanation {
        font-family:'Source Sans Pro', sans-serif;
        display:block;
        clear:both;
        color:#bac8bd;
        font-size:12pt;
        line-height:0px;
        padding-left:10px;
        margin-top:-10px;
      }
    }

    .title:first-letter {
      font-size: 70pt;
      display: block;
      margin-top:15px;
    }

    #right {
      color: #bac8bd;
      font-family:'Source Sans Pro', sans-serif;
      font-size:20pt;
      float:left;
      width:40%;
      height:100%;
      padding:10px;
      box-sizing:border-box;
      margin:0;
      display:block;
      min-height:150px;
//      background-color: #a1bf61;

      span.line {
        clear:both;
        display:block;
      }

      span.number {
        color:#fafafa;
        font-size:50pt;
        line-height:60px;
        font-family:Helvetica, "Helvetica Neue", Arial, sans-serif;
        font-weight:800;
      }
    }
  }

  .project {
    font-weight:normal;
    width:100%;
    box-sizing: border-box;
    color:#292929;
    height:200px;
    border-bottom:15px solid #e9f7ec;

    .tag-cont {
      width:25%;
      display:block;
      float:left;
      height:100%;

      &.proposal {
        .code(#9efffa);
      }

      &.client {
        .code(#c18d84);
      }

      &.internal {
        .code(#b7d693);
      }

      &.personal {
        .code(#ffd891);
      }

      &.external {
        .code(#a587d3);
      }

      span {
        text-align:center;
        padding:10px;
        margin:0 auto;
      }

      span.type {
        font-size:14pt;
        display:block;
        text-transform: uppercase;
      }

      span.code {
        padding:0 10px 10px 10px;
        font-size:78pt;
        display:block;
        font-weight:800;
        text-transform: uppercase;
      }

    }

    .project-details {
      float:left;
      width:75%;
      display:block;
      height:100%;
      border-left:15px solid #e9f7ec;
      box-sizing: border-box;
      padding:10px 10px 10px 20px;

      &.proposal {
        .content(#9efffa);
      }

      &.client {
        .content(#c18d84);
      }

      &.internal {
        .content(#9dbc7e);
      }

      &.personal {
        .content(#ffd891);
      }

      &.external {
        .content(#a587d3);
      }

      .progress {
        width:80%;
        height:100%;
        display:block;
        float:left;
        font-size:32pt;
        line-height:50px;

        .status {
          font-size:14pt;
          font-weight:800;
          text-transform: uppercase;
        }

        span.number {
          font-size:48pt;
          font-weight:800;
        }

        .pending {
          clear:both;
          font-family: 'Source Sans Pro', sans-serif;
          color: rgba(73, 73, 73, 0.71);

          span.number {
            color:#FF8F0B;
          }
        }

        .complete {
          clear:both;
          font-family: 'Source Sans Pro', sans-serif;


          span.number {
            color:#5E740B;

          }
        }
      }

    }

    .project-details::before {
      margin:-10px 0 0 -20px;
      display:block;
      content:"";
      height:15px;
      width:70%;
      background-color: #5E740B;
      overflow-x:hidden;
    }
  }

  .tasks {
    width:100%;
//    height:600px;
//    background-color: #dae6db;
    box-sizing: border-box;
    margin-bottom:15px;
    font-family: 'Source Sans Pro', sans-serif;

    .title {
      font-size:28pt;
      color:#292929;
      font-weight:800;
    }

    .task {
      min-height:100px;
      background-color:#FF8F0B;

      .indicator {
        display:block;
        float:left;
        height:100%;
        vertical-align: middle;
        margin:0 10px;
        text-align:right;
        padding:11px 20px 12px 6px;
        font-weight:900;
        font-family:Helvetica, "Helvetica Neue", Arial, sans-serif;
        border-right:15px solid #e9f7ec;
        width:100px;
      }

      .indicator::after {
        font-size:14pt;
        margin-top:14px;
        display:block;
        float:right;
        content:"%";
      }

      .task-details {
        float:left;
        width:auto;
        padding-left:10px;

        .headline {
          padding-top:10px;
          font-size:22pt;
          font-weight:700;
        }
        .note {
          float:left;
          padding-bottom:10px;
          font-size:14pt;
          colour:rgba(255,255,255,0.8);
          font-weight:normal;
        }
      }
    }
  }

  #paginator {
    font-size:15px;
    display:block;
    text-align:center;
    color:#292929;

    span {
      float:left;
    }

    span.page {
      background-color:#5E740B;
      color:#e9f7ec;
      display:block;
      padding:10px;
    }
  }
}