<div id="outer">
    <div id="title">
        <div id="left">
            <span class="title">L34N</span>
            <span class="note">.co</span>
            <span class="explanation">An experiment in experience and interface</span>
        </div>
        <div id="right">
            <span class="line">
                <span class="number">4</span> projects
            </span>
            <span class="line">
                <span class="number">21</span> tasks
            </span>
        </div>
    </div>
    <div class="project">
        <div class="tag-cont proposal">
            <span class="type">PROPOSAL</span>
            <span class="code">stc</span>
        </div>
        <div class="project-details proposal">
            <div class="progress">
                <div class="status">Project Title - In Progress</div>
                <div class="pending"><span class="number">4</span> pending</div>
                <div class="complete"><span class="number">17</span> complete</div>
            </div>
            <div class="tasks-expand"></div>
        </div>

    </div>

    <div class="tasks">
        <div class="title"></div>
        <div class="task" style="background-color:#5e3d00">
            <div class="indicator">22</div>
            <div class="task-details">
                <div class="headline">Contact current webmaster with ideas</div>
                <div class="note">Peter Capaldi - 0800 204 2044</div>
            </div>
        </div>
        <div class="task" style="background-color:#5E740B">
            <div class="indicator">78</div>
            <div class="task-details">
                <div class="headline">Compose base directories and structure</div>
                <div class="note"></div>
            </div>
        </div>
        <div class="task" style="background-color:#FF8F0B">
            <div class="indicator">36</div>
            <div class="task-details">
                <div class="headline">Get logos and typefaces - high res</div>
                <div class="note">Will need retina @ 2x</div>
            </div>
        </div>
        <div class="task" style="background-color:#d13b00">
            <div class="indicator">0</div>
            <div class="task-details">
                <div class="headline">Sketch main layout</div>
                <div class="note">See prelim ideas on bank statement</div>
            </div>
        </div>
    </div>

    <%
//        Task.create({
//            project: 'PRJ',
//            title: 'Contact current webmaster with ideas',
//            note: 'Peter Capaldi - 0800 820 820',
//            status: 1,
//            progress: 0
//        }).done(function(err, project) {
//                    if (err) {
//                        console.log(err)
//                    } else {
//                        console.log(project);
//                    }
//                });
    %>

    <% if (1==1) { projects.forEach(function (Project) { %>
    <div class="project">
        <div class="tag-cont <%= Project.type %>">
            <span class="type"><%= Project.type %></span>
            <span class="code"><%= Project.code %></span>
        </div>
        <div class="project-details <%= Project.type %>">
            <div class="progress">
                <div class="status"><%= Project.title %> - <%= Project.getStatus() %></div>
                <div class="pending"></div>
                <div class="complete"></div>
            </div>
            <div class="tasks-expand"></div>
        </div>
    </div>
    <div class="tasks">
        <div class="title"></div>
            <% if (Project['tasks']) { Project['tasks'].forEach(function (Task) { %>
            <div class="task" style="background-color:#5e3d00">
                <div class="indicator"><%= Task.progress %></div>
                <div class="task-details">
                    <div class="headline"><%= Task.title %></div>
                    <div class="note"><%= Task.note %></div>
                </div>
            </div>
            <% }); }; %>
    </div>
    <% }); } else console.log(projects); %>

    <div id="paginator">
        <span>Page</span>
        <span class="page">1</span>
    </div>

</div>