<div id="outer">
    <div id="title">
        <div id="left">
            <span class="title">L34N</span>
            <span class="note">.co</span>
            <span class="explanation">An experiment in experience and interface</span>
        </div>
        <div id="right">
            <span class="line">
                <span class="number">4</span> projects
            </span>
            <span class="line">
                <span class="number">21</span> tasks
            </span>
        </div>
    </div>
    <div class="project">
        <div class="tag-cont proposal">
            <span class="type">PROPOSAL</span>
            <span class="code">stc</span>
        </div>
        <div class="project-details proposal">
            <div class="progress">
                <div class="status">Project Title - In Progress</div>
                <div class="pending"><span class="number">4</span> pending</div>
                <div class="complete"><span class="number">17</span> complete</div>
            </div>
            <div class="tasks-expand"></div>
        </div>

    </div>

    <div class="tasks">
        <div class="title"></div>
        <div class="task" style="background-color:#5e3d00">
            <div class="indicator">22</div>
            <div class="task-details">
                <div class="headline">Contact current webmaster with ideas</div>
                <div class="note">Peter Capaldi - 0800 204 2044</div>
            </div>
        </div>
        <div class="task" style="background-color:#5E740B">
            <div class="indicator">78</div>
            <div class="task-details">
                <div class="headline">Compose base directories and structure</div>
                <div class="note"></div>
            </div>
        </div>
        <div class="task" style="background-color:#FF8F0B">
            <div class="indicator">36</div>
            <div class="task-details">
                <div class="headline">Get logos and typefaces - high res</div>
                <div class="note">Will need retina @ 2x</div>
            </div>
        </div>
        <div class="task" style="background-color:#d13b00">
            <div class="indicator">0</div>
            <div class="task-details">
                <div class="headline">Sketch main layout</div>
                <div class="note">See prelim ideas on bank statement</div>
            </div>
        </div>
    </div>

    <div class="project">
        <div class="tag-cont internal">
            <span class="type">INTERNAL</span>
            <span class="code">prj</span>
        </div>
        <div class="project-details internal">
            <div class="progress">
                <div class="status"></div>
                <div class="pending"></div>
                <div class="complete"></div>
            </div>
            <div class="tasks-expand"></div>
        </div>

    </div>

    <div class="project">
        <div class="tag-cont personal">
            <span class="type">personal</span>
            <span class="code">SPK</span>
        </div>
        <div class="project-details personal">
            <div class="progress">
                <div class="status"></div>
                <div class="pending"></div>
                <div class="complete"></div>
            </div>
            <div class="tasks-expand"></div>
        </div>

    </div>

    <div class="project">
        <div class="tag-cont external">
            <span class="type">external</span>
            <span class="code">TCN</span>
        </div>
        <div class="project-details external">
            <div class="progress">
                <div class="status"></div>
                <div class="pending"></div>
                <div class="complete"></div>
            </div>
            <div class="tasks-expand"></div>
        </div>

    </div>

    <div id="paginator">
        <span>Page</span>
        <span class="page">1</span>
    </div>

</div>